button {
  background-color: var(--color-accent);
  padding-block: var(--space-xs);
  padding-inline: var(--space-md);
  border-radius: var(--space-xs);
  border: none;
  font-weight: 900;
  color: var(--color-fill);
  cursor: pointer;
}

button[data-type='secondary'] {
  background-color: var(--color-text-base);
  color: var(--color-fill);
}
