:root {
  --alpha-channel: 1;
  --dark-grey: hsl(300, 1%, 15%);
  --brand-blue: hsl(215, 100%, 50%);
  --dark-blue: hsl(224, 25%, 17%);
  --grey-blue: hsl(225, 30%, 29%);
  --lightest-blue: hsl(223, 21%, 94%);
  --brand-orange: hsl(25, 100%, 50%);
  --brown: hsl(25, 91%, 35%);
  --silver: hsl(0, 0%, 80%);
  --light-grey: hsl(227, 100%, 72%);
}

:where([data-theme='dark']) {
  --color-fill: var(--dark-blue);
  --color-text-base: var(--lightest-blue);
  --color-accent: var(--brand-orange);
  --color-card: var(--grey-blue);
  --color-border: var(--brown);
}

:where([data-theme='light']) {
  --color-fill: var(--baby-powder);
  --color-text-base: var(--dark-grey);
  --color-card: var(--silver);
  --color-accent: var(--brand-blue);
  --color-border: var(--light-grey);
}
