:where([data-theme='dark']) {
  --color-fill: 33, 39, 55;
  --color-text-base: 234, 237, 243;
  --color-accent: 255, 107, 1;
  --color-card-muted: 52, 63, 96;
  --color-card: 138, 51, 2;
  --color-border: 171, 75, 8;
}

:where([data-theme='light']) {
  --color-fill: 251, 254, 251;
  --color-text-base: 40, 39, 40;
  --color-card-muted: 205, 205, 205;
  --color-accent: 0, 108, 172;
  --color-border: 236, 233, 233;
}
