@font-face {
  font-family: 'Geist Mono';
  font-weight: 100 900; /* Variable range */
  font-style: normal;
  font-display: swap; /* Improves performance */
  src: url('../assets/fonts/GeistMono.woff2') format('woff2');
}

body {
  font-family: 'Geist Mono', sans-serif;
  color: rgb(var(--color-text-base));
  font-size: var(--font-size-base);
}

a {
  color: rgb(var(--color-accent));
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: rgb(var(--color-accent));
  color: rgb(var(--color-fill));
}

:focus-visible:(not(input)) {
  outline: 1px dotted rgb(var(--color-accent));
  outline-offset: 0.25rem;
}

h1,
.h1 {
  font-size: var(--font-size-xxxl);
}

h2,
.h2 {
  font-size: var(--font-size-xxl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

h5,
.h5 {
  font-size: var(--font-size-md);
}

.h6,
h6,
p,
li {
  font-size: var(--font-size-base);
}
