input {
  padding-block: var(--space-xs);
  padding-inline: var(--space-sm);
  border-radius: var(--space-xs);
  background-color: var(--bg-brand);
  border: 1px solid var(--text-onbrand);
  accent-color: var(--color-accent);
  color: var(--text-onbrand);
}

input::placeholder {
  color: var(--text-onbrand);
}

input:focus {
  border: 1px solid var(--color-accent);
  outline: none;
}
