:root {
  /**
  * Font size
  */
  --font-size-xs: clamp(0.55rem, 0.17vw + 0.72rem, 0.65rem);
  --font-size-sm: clamp(0.75rem, 0.17vw + 0.72rem, 0.84rem);
  --font-size-base: clamp(0.95rem, 0.34vw + 0.84rem, 1.09rem);
  --font-size-md: clamp(1.15rem, 0.61vw + 1.04rem, 1.45rem);
  --font-size-lg: clamp(1.45rem, 1vw + 1.21rem, 1.91rem);
  --font-size-xl: clamp(1.8rem, 1.56vw + 1.41rem, 2.44rem);
  --font-size-xxl: clamp(2.25rem, 2.38vw + 1.69rem, 2.84rem);
  --font-size-xxxl: clamp(2.85rem, 3.54vw + 2.02rem, 4.45rem);

  /**
   * Spacing
   */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;

  /**
   * Layout
   */
  --main-pi: var(--space-lg);
}
