---
import Layout from '@/layouts/BaseLayout.astro'
import BaseHeading from '@/components/BaseHeading.astro'
import Tags from '@/components/Tags.astro'
const demoes = Object.values(
  import.meta.glob(['@/pages/demoes/*.mdx', '@/pages/demoes/*.astro'], { eager: true })
)
---

<Layout title="Demoes">
  <BaseHeading title="Demoes" />
  <ul>
    {
      demoes.map((demo) => (
        <li>
          <a href={demo.url}> {demo.frontmatter?.heading}</a>
          <Tags tags={demo.frontmatter?.technologies} />
        </li>
      ))
    }
  </ul>
</Layout>
<style>
  ul {
    margin-top: var(--space-lg);
  }

  li {
    margin-bottom: var(--space-sm);
    display: flex;
    gap: var(--space-sm);
    align-items: center;
  }
</style>
