---
import Layout from '@/layouts/BaseLayout.astro'
import BaseHeading from '@/components/BaseHeading.astro'

const demoes = Object.values(
  import.meta.glob(['@/pages/demoes/*.mdx', '@/pages/demoes/*.astro'], { eager: true })
)
---

<Layout>
  <BaseHeading title="Demoes" />
  <ul>
    {
      demoes.map((demo) => (
        <li>
          <a href={demo.url}> {demo.frontmatter?.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
<style>
  ul {
    margin-top: var(--space-lg);
  }

  li {
    margin-bottom: var(--space-sm);
  }
</style>
