---
import Layout from '@/layouts/BaseLayout.astro'
import BaseHeading from '@/components/BaseHeading.astro'
import Tags from '@/components/Tags.astro'
import { getStaticPaths } from './[demo].astro'
import { generateBaseUrl } from '@/utils/generateBaseUrl'

// Get all the routes that were generated
const routes = await getStaticPaths()
---

<Layout title="Demoes">
  <BaseHeading title="Demoes" />
  <ul>
    {
      routes.map(({ params, props }) => (
        <li>
          <a href={generateBaseUrl(`/demoes/${params.demo}`)}>{props.heading}</a>
          <Tags tags={props.technologies} />
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    margin-top: var(--space-lg);
  }

  li {
    margin-bottom: var(--space-sm);
    display: flex;
    gap: var(--space-sm);
    align-items: center;
  }
</style>
