---
import BaseLayout from '@/layouts/BaseLayout.astro'
import BaseHeading from '@/components/BaseHeading.astro'
import ColorShowcase from '@/components/ColorShowcase.astro'
import { generateBaseUrl } from '@/utils/generateBaseUrl'
---

<BaseLayout>
  <BaseHeading title="Welcome to my playground" />
  <p>This is where i experiment and learn new things about the web.</p>
  <p>
    Check out my demoes <a href=`${generateBaseUrl('/demoes')}`>here</a>
  </p>
  <p>
    Components and styles <a href=`${generateBaseUrl('/showcase')}`>here</a>
  </p>
</BaseLayout>
