---
import Layout from '@/layouts/BaseLayout.astro'
import BaseHeading from '@/components/BaseHeading.astro'
import ColorShowcase from '@/components/ColorShowcase.astro'
---

<Layout>
  <BaseHeading title="Welcome to my playground" />
  <p>This is where i experiment and learn new things about the web.</p>
  <p>
    Check out my demoes <a href=`${import.meta.env.BASE_URL}/demoes`>here</a>
  </p>
  <p>
    Components and styles <a href=`${import.meta.env.BASE_URL}/showcase`>here</a>
  </p>
</Layout>
