---
import Layout from '../layouts/Layout.astro'
import BaseHeader from '../components/BaseHeader.astro'
---

<Layout>
  <BaseHeader title="PalmGround" />
  <p>Welcome to my personal playground where I experiment with new things</p>
  <p>
    Check out my demoes <a href="/demoes">here</a>
  </p>
</Layout>
<style></style>
