---
import Layout from '../layouts/Layout.astro'

const links = [
  {
    title: 'Crypto API',
    url: '/crypto',
  },
  {
    title: 'Dialog Element',
    url: '/dialog',
  },
]
---

<Layout>
  <h1>Welcome to PalmGround</h1>
  <p>
    My personal playground for experimenting with new and old web technologies alike. Take a look at
    my experiments below.
  </p>
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.url}>{link.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    margin-top: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
  }
</style>
