---
import ThemeSelector from './ThemeSelector.astro'
---

<header>
  <a href="/">PalmGround</a>
  <ThemeSelector />
</header>
<style>
  header {
    padding-inline: var(--main-pi);
    padding-block: var(--space-md);
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgb(var(--color-border));
    user-select: none;
    position: relative;

    #theme-toggle {
      margin-left: auto;
    }
  }
  a {
    font-size: var(--font-size-md);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
