---
const { tags } = Astro.props
---

{tags?.map((tag) => <span>{tag}</span>)}

<style>
  span {
    padding: var(--space-xxs);
    border: 1px solid var(--color-border);
    border-radius: var(--space-xs);
    font-size: var(--font-size-sm);
    color: var(--text-onbutton-primary);
    overflow: hidden;
    font-weight: 600;
  }
</style>
