---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/index.css'

const { title } = Astro.props

const path = Astro.url.pathname

const isHome = path === '/'
const documentTitle = isHome || !title ? 'PalmPlayground' : `${title} | PalmPlayground`
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{documentTitle}</title>

    <script is:inline src={`${import.meta.env.BASE_URL}/theme-selector.js`}></script>
  </head>
  <body>
    <Header />
    <main class="main-container main-padding">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--color-fill));
    color: rgb(var(--color-text-base));
  }
  main {
    flex-grow: 1;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--main-pi);
  }
</style>
